@import "./loader.css";
@import "./range.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS para que el scroll sea consistente en todos los navegadores */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main-400); /* Color del thumb */
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: #d6d6d6; /* Color de la pista */
  border-radius: 100px;
}
@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .form-control {
    @apply block w-full rounded-lg border border-gray-300 bg-white text-sm px-3 py-2 text-gray-900 shadow-sm focus:border-main-400 focus:outline-none focus:ring-1 focus:ring-main-400 disabled:bg-gray-100 disabled:text-gray-500 disabled:cursor-not-allowed;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded-lg px-7 py-2 text-sm font-medium transition-colors duration-200 disabled:opacity-50 disabled:cursor-progress;
  }

  .btn-main {
    @apply bg-main-400 text-white hover:bg-main disabled:bg-gray-300 disabled:text-gray-500;
  }

  .btn-link {
    @apply text-main-400 hover:text-main focus:outline-none;
  }

  .page-base {
    @apply max-w-full box-border p-5 bg-gray-100;
  }

  .card {
    @apply bg-white p-4 rounded-xl shadow-sm;
  }

  .card-title {
    @apply text-lg font-medium;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .shadow-animated {
    @apply shadow-sm transition-transform duration-300 ease-in-out transform hover:-translate-y-[2px] hover:scale-[1.02] hover:shadow-md;
  }

  .btn-primary {
    @apply rounded-lg py-1 px-4 text-sm flex items-center justify-center 
    border-2 border-main-400 bg-main-400 text-white 
    hover:bg-main-300 hover:border-main-300 
    active:bg-main-500 active:border-main-500 
    disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;
  }

  .btn-secondary {
    @apply rounded-lg py-1 px-4 text-sm flex items-center justify-center 
    border-2 border-main-400 text-main-400 bg-transparent 
    hover:text-main-300 hover:border-main-300 
    active:text-main-500 active:border-main-500 
    disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;
  }

  .badge-main {
    @apply text-xs text-gray-500 bg-gray-100 rounded-lg px-2 py-1 w-fit;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .app-icon {
    --icon-url: url("/logo.png");
  }

  .animate-ping-slow {
    animation: ping-slow 1.4s infinite;
  }

  @keyframes ping-slow {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.6;
      transform: scale(1.3);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.sidebar {
  position: fixed;
  z-index: 1000; /* Un valor alto para asegurar que esté encima */
}

/* ESTILOS CAROUSEL */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  /* flex-direction: row; */
  gap: 16px; /* Espacio entre elementos */
}

.embla__container > * {
  flex: 0 0 100%;
  min-width: 0;
}

/* HTML: <div class="loader"></div> */
