/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--color-main-200);
  border-right-color: var(--color-main-300);
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}