/* Estilo para el contenedor del progress */
progress {
  width: 100%; /* Asegura que ocupe todo el ancho */
  height: 8px; /* Alto del contenedor */
  border-radius: 8px; /* Bordes redondeados */
  appearance: none; /* Elimina el estilo predeterminado */
}

/* Cambiar el color de la barra de progreso */
progress::-webkit-progress-bar {
  background-color: #e0e0e0; /* Color de fondo de la barra (cuando está vacía) */
  border-radius: 8px; /* Bordes redondeados */
}

/* Cambiar el color de la barra de progreso (cuando está en uso) */
progress::-webkit-progress-value {
  background-color: var(
    --color-main-400
  ); /* Color de la barra (cuando se va llenando) */
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilo para otros navegadores como Firefox */
progress::-moz-progress-bar {
  background-color: var(
    --color-main-400
  ); /* Color de la barra (cuando se va llenando) */
  border-radius: 8px; /* Bordes redondeados */
}

input[type="range"] {
  width: 100px;
  height: 5px;
  margin: 0;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    height: 6px;
    border-radius: 18px;
    width: 100px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ccc;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 18px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 6px;
    border-radius: 18px;
    background: #434343;
    box-shadow: -100px 0 0 100px var(--color-main-400);
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--color-main-400);
}
input[type="range"]::-moz-range-track {
  background-color: #ccc;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--color-main-400);
}
input[type="range"]::-ms-fill-upper {
  background-color: #ccc;
}
